@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

/*Formatação geral da página*/
*{
    margin: 0;
    padding: 0;
}

/*Formatação da imagem inicial*/

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(215, 240, 240);
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 90%;
    animation: zoom 20s ;
}

/*Formatação do texto inicial do banner*/

.banner{
    position: absolute;
    top: 30%;
    left: 15%;
    animation: text-opacity 2s;
}

.banner h1{
    color: rgb(247, 240, 221);
    font-size: 3.5rem;
    font-family: "Baloo Da 2", serif;
    text-shadow: .2rem .2rem 3px rgba(0, 0, 0, 0.4);
    font-weight: 200;
    line-height: 3.5rem;
    margin-bottom: 1rem;
}

.banner p{
    padding-top: 10px;
    font-family: "Josefin+Slab", serif;
    color: rgb(247, 240, 221);
    text-shadow: .2rem .2rem 3px rgba(0, 0, 0, 0.4);
    margin-bottom: 1rem;
    font-size: 2rem;
}


.banner button{
    font-family: "Mulish", serif;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(36, 34, 34);
    background-color: #2a9d8f;
    border: 0;
    border-radius: 20px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 0.1rem .1rem 0.5px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    text-transform: uppercase;
}

.banner button:hover{
    transition: .5s;
    background-color: #077ba8;
    font-weight: 800;
    font-size: 1.2rem;
    color: rgb(43, 41, 39);
}

/*Animações de entrada*/

@keyframes zoom {
    from {
        transform: scale(1.3);
    }

    to {
        transform: scale(1);
    }
    
}

@keyframes text-opacity {

    from {
        opacity: 0%;
        transform: rotateY(-36deg);
    }

    to {
        opacity: 100%;
        transform: rotate(0);
    }
    
}